asgiref
attrs
black
cfgv
click
distlib
Django
django-cors-headers
djangorestframework
drf-spectacular
filelock
identify
inflection
jsonschema
jsonschema-specifications
mccabe
mypy-extensions
nodeenv
packaging
pathspec
platformdirs
pre_commit
pycodestyle
pyflakes
PyYAML
referencing
rpds-py
sqlparse
uritemplate
virtualenv
